pipeline/GOGA_STATIC_COMMLOAN_LOAN_INV_ARRANGEMENT_DIM_STG_Load.json
{
	"name": "GOGA_STATIC_COMMLOAN_LOAN_INV_ARRANGEMENT_DIM_STG_Load",
	"properties": {
		"activities": [
			{
				"name": "Copy Data - IDDL to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Metadata Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "IsLoaded",
								"value": "N"
							},
							{
								"name": "CreatedDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"query": {
							"value": "@{activity('Lookup Metadata Master').output.firstRow.source_query}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlMISink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{activity('Lookup Metadata Master').output.firstRow.target_schema}.@{activity('Lookup Metadata Master').output.firstRow.target_tab}",
							"type": "Expression"
						},
						"maxConcurrentConnections": 16
					},
					"enableStaging": false,
					"parallelCopies": 16,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "loan_inv_arranagement_dim_sk",
									"type": "Int32"
								},
								"sink": {
									"name": "LOAN_INV_ARRANAGEMENT_DIM_SK",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "loan_inv_arr_key",
									"type": "String"
								},
								"sink": {
									"name": "LOAN_INV_ARR_KEY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "loan_arrangement_dim_sk",
									"type": "Int32"
								},
								"sink": {
									"name": "LOAN_ARRANGEMENT_DIM_SK",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "control_id",
									"type": "Int32"
								},
								"sink": {
									"name": "CONTROL_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "participant_id",
									"type": "Int32"
								},
								"sink": {
									"name": "PARTICIPANT_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "accounting_unit_cd",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTING_UNIT_CD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "participant_pct",
									"type": "String"
								},
								"sink": {
									"name": "PARTICIPANT_PCT",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "investor_last_name",
									"type": "String"
								},
								"sink": {
									"name": "INVESTOR_LAST_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "inv_rpt_grp_name",
									"type": "String"
								},
								"sink": {
									"name": "INV_RPT_GRP_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "portfolio_name",
									"type": "String"
								},
								"sink": {
									"name": "PORTFOLIO_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "prod_rpt_grp_name",
									"type": "String"
								},
								"sink": {
									"name": "PROD_RPT_GRP_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "pmt_frequency_number",
									"type": "Int32"
								},
								"sink": {
									"name": "PMT_FREQUENCY_NUMBER",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "fixed_pct_of_loan_service_fees",
									"type": "String"
								},
								"sink": {
									"name": "FIXED_PCT_OF_LOAN_SERVICE_FEES",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "src",
									"type": "String"
								},
								"sink": {
									"name": "SRC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "bus_eff_date_from",
									"type": "DateTime"
								},
								"sink": {
									"name": "BUS_EFF_DATE_FROM",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "bus_eff_date_to",
									"type": "DateTime"
								},
								"sink": {
									"name": "BUS_EFF_DATE_TO",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "IsLoaded",
									"type": "String"
								},
								"sink": {
									"name": "IsLoaded",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "String"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dynamic_DAL",
						"type": "DatasetReference",
						"parameters": {
							"p_Source": {
								"value": "@{activity('Lookup Metadata Master').output.firstrow.source_schema}.@{activity('Lookup Metadata Master').output.firstRow.source_tab}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dynamic_SQL",
						"type": "DatasetReference",
						"parameters": {
							"p_TargetSchema": {
								"value": "@{activity('Lookup Metadata Master').output.firstRow.target_schema}",
								"type": "Expression"
							},
							"p_TargetTab": {
								"value": "@{activity('Lookup Metadata Master').output.firstRow.target_tab}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SP - PipelineLog update on success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Data - IDDL to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@{activity('Lookup Metadata Master').output.firstRow.target_schema}.usp_pipelinelog",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"triggername": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"master_pipelinename": {
							"value": {
								"value": "@pipeline().parameters.pp_MasterPipelineName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLMI_GOGA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP - Pipelinelog update on failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Data - IDDL to SQL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@{activity('Lookup Metadata Master').output.firstRow.target_schema}.usp_pipelinelog",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"triggername": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"master_pipelinename": {
							"value": {
								"value": "@pipeline().parameters.pp_MasterPipelineName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLMI_GOGA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ActivityLog update on completion",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Data - IDDL to SQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "INSERT INTO @{activity('Lookup Metadata Master').output.firstRow.target_schema}.log_activity SELECT '@{pipeline().DataFactory}' as DataFactory_Name,'@{pipeline().Pipeline}' as Pipeline_Name,'@{pipeline().parameters.pp_MasterPipelineName}' AS Master_Pipeline_Name,'@{pipeline().RunId}' as RunId,'@{activity('Lookup Metadata Master').output.firstRow.source_schema}.@{activity('Lookup Metadata Master').output.firstRow.source_tab}' as source,'@{activity('Lookup Metadata Master').output.firstRow.target_schema}.@{activity('Lookup Metadata Master').output.firstRow.target_tab}' as destination,'@{pipeline().TriggerType}' as TriggerType,'@{pipeline().TriggerId}' as TriggerId,'@{pipeline().TriggerName}' as TriggerName,'@{pipeline().TriggerTime}' as TriggerTime,'@{activity('Copy Data - IDDL to SQL').output.rowsCopied}' as rowsCopied,'@{activity('Copy Data - IDDL to SQL').output.rowsRead}' as RowsRead,'@{activity('Copy Data - IDDL to SQL').output.usedParallelCopies}' as No_ParallelCopies,'@{activity('Copy Data - IDDL to SQL').output.copyDuration}' as copyDuration_in_secs,'@{activity('Copy Data - IDDL to SQL').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].source.type}' as Source_Type,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].sink.type}' as Sink_Type,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].status}' as Execution_Status,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].start}' as CopyActivity_Start_Time,'@{utcnow()}' as CopyActivity_End_Time,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivity_timeToFirstByte_in_secs,'@{activity('Copy Data - IDDL to SQL').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs; SELECT 1;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dynamic_SQL",
						"type": "DatasetReference",
						"parameters": {
							"p_TargetSchema": {
								"value": "@{activity('Lookup Metadata Master').output.firstRow.target_schema}",
								"type": "Expression"
							},
							"p_TargetTab": "log_activity"
						}
					}
				}
			},
			{
				"name": "Lookup Metadata Master",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "SELECT metadata_master_sk,source_schema,source_tab,target_schema,target_tab,delta_identifier,source_query FROM @{pipeline().globalParameters.P_Global_TgtSchema}.tbl_metadata_master WHERE pipeline_exec_code = @{pipeline().parameters.pp_pipeline_exec_code}",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dynamic_SQL",
						"type": "DatasetReference",
						"parameters": {
							"p_TargetSchema": {
								"value": "@pipeline().globalParameters.P_Global_TgtSchema",
								"type": "Expression"
							},
							"p_TargetTab": {
								"value": "tbl_metadata_master",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"pp_pipeline_exec_code": {
				"type": "int",
				"defaultValue": 276
			},
			"pp_MasterPipelineName": {
				"type": "string",
				"defaultValue": "NA"
			}
		},
		"folder": {
			"name": "GO-GA/COMMERCIAL LOAN"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-09T16:36:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}